{% extends 'apartaments/base.html' %}
{% load static %}

{% block content %}
		<section class="page-title">

				<!--сортировка по категориям квартир-->
				<!--пока что сортировка идет по джава-скрипту как-то, но это неважно (можно свою сделать через питон) -->
				<div class="two-half column-last alignright">
					<ul id="filters">
						<li>Сортировать:</li>
						<li class="selected active"><a data-value="all" href="#">Все</a></li>
						<li class=""><a data-value="cat-1" href="#">Однокомнатные</a></li>
						<li class=""><a data-value="cat-2" href="#">От 2-х комнат и больше</a></li>
						<li class=""><a data-value="cat-3" href="#">Студии</a></li>
						<li class=""><a data-value="cat-4" href="#">Дома</a></li>
					</ul>
				</div>
			</div><!--end breadcrumbs-->
			<div class="double-separator"></div>
		</section>
{% endblock %}

{% block footer-content %}
	<div class="centered-wrapper">

		<section id="portfolio-wrapper">
			<ul class="portfolio three-columns">
				<li data-id="id-1" class="cat-2 cat-3">
					<a href="{% url 'apartament_description' %}">
						<img src="{% static 'images/portfolio/pic1.jpg'%}" alt="" />
					</a>
					<h3><a href="{% url 'apartament_description' %}">Winter Wonderland<br>10 000 руб.</a></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
					<div class="count hidden"></div>
				</li>
				<li data-id="id-2" class="cat-1 cat-4">
					<a href="apartament-description.html">
						<img src="{% static 'images/portfolio/pic2.jpg'%}" alt="" />
					</a>
					<h3><a href="apartament-description.html">The Beauty of Black & White<br>15 000 руб.</a></h3>
					<p> Nam libero tempore, cum soluta nobis est eligendi optio cumque</p>
					<div class="count hidden"></div>
				</li>
				<li data-id="id-3" class="cat-1 cat-5">
					<a href="apartament-description.html">
						<img src="{% static 'images/portfolio/pic3.jpg'%}" alt="" />
					</a>
					<h3><a href="apartament-description.html">High Speed Cars<br>17 000 руб.</a></h3>
					<p> Excepteur sint occaecat cupidatat non proident</p>
					<div class="count hidden"></div>
				</li>
				<li data-id="id-4" class="cat-3 cat-4">
					<a href="apartament-description.html">
						<img src="{% static 'images/portfolio/pic4.jpg'%}" alt="" />
					</a>
					<h3><a href="apartament-description.html">Liberty Prison<br>13 000 руб.</a></h3>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
					<div class="count hidden"></div>
				</li>
				<li data-id="id-5" class="cat-5 cat-4">
					<a href="apartament-description.html">
						<img src="{% static 'images/portfolio/pic5.jpg'%}" alt="" />
					</a>
					<h3><a href="apartament-description.html">After 5`o Clock<br>15 000 руб.</a></h3>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
					<div class="count hidden"></div>
				</li>
				<li data-id="id-6" class="cat-4 cat-4">
					<a href="apartament-description.html">
						<img src="{% static 'images/portfolio/pic6.jpg'%}" alt="" />
					</a>
					<h3><a href="apartament-description.html">Paris in Las Vegas<br>25 000 руб.</a></h3>
					<p> Excepteur sint occaecat cupidatat non proident</p>
					<div class="count hidden"></div>
				</li>
				<li  data-id="id-7" class="cat-1 cat-5">
					<a href="apartament-description.html">
						<img src="{% static 'images/portfolio/pic7.jpg'%}" alt="" />
					</a>
					<h3><a href="apartament-description.html">Water and Earth<br>25 000 руб.</a></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
					<div class="count hidden"></div>
				</li>
				<li data-id="id-8" class="cat-3 cat-1">
					<a href="apartament-description.html">
						<img src="{% static 'images/portfolio/pic8.jpg'%}" alt="" />
					</a>
					<h3><a href="apartament-description.html">The School of Future<br>25 000 руб.</a></h3>
					<p> Nam libero tempore, cum soluta nobis est eligendi optio cumque</p>
					<div class="count hidden"></div>
				</li>
				<li data-id="id-9" class="cat-2 cat-4">
					<a href="apartament-description.html">
						<img src="{% static 'images/portfolio/pic9.jpg'%}" alt="" />
					</a>
					<h3><a href="apartament-description.html">When Time Stood Still<br>25 000 руб.</a></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
					<div class="count hidden"></div>
				</li>
				<li data-id="id-10" class="cat-1 cat-3">
					<a href="apartament-description.html">
						<img src="{% static 'images/portfolio/pic10.jpg'%}" alt="" />
					</a>
					<h3><a href="apartament-description.html">The Perfect Family Dinner<br>25 000 руб.</a></h3>
					<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
					<div class="count hidden"></div>
				</li>
				<li  data-id="id-11" class="cat-1 cat-4">
					<a href="apartament-description.html">
						<img src="{% static 'images/portfolio/pic11.jpg'%}" alt="" />
					</a>
					<h3><a href="apartament-description.html">Too Many Years Ago<br>25 000 руб.</a></h3>
					<p> Excepteur sint occaecat cupidatat non proident</p>
					<div class="count hidden"></div>
				</li>
				<li data-id="id-12" class="cat-2 cat-1">
					<a href="apartament-description.html">
						<img src="{% static 'images/portfolio/pic12.jpg'%}" alt="" />
					</a>
					<h3><a href="apartament-description.html">Bamberg<br>25 000 руб.</a></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed</p>
					<div class="count hidden"></div>
				</li>
			</ul>
		</section>

	</div><!--end centered-wrapper-->
{% endblock %}